/* ========================================
   Content Layout
   ======================================== */
.content {
    width: 100%;
}

.content > .card {
    width: 100%;
}

.content > .side-top {
    border-left: none;
}
