/* ========================================
   Sidebar Derecho (Charts, etc)
   ======================================== */
.side-top {
    display: flex;
    flex-direction: column;
}

canvas {
    background: transparent;
}
